        <div class="dm-modal" id="add-appointment" tabindex="-1">
            <div class="dm-modal-body flex-container  column" tabindex="0">
                <div class="modal-title">
                    Add Appointment
                </div>
                <div class="modal-content flex-grow">
                    <form action="{{modalAction}}" method="POST">
                        <div class="dm-form-group" style="width: 100%;">
                            <span>Paitent Name</span>
                            <input class="dm-input" name="name" type="text" placeholder="Paitent Name" required>
                        </div>
                        <div class="dm-form-group" style="width: 100%;">
                            <span>Paitent Mobile</span>
                            <input class="dm-input" name="mobile" type="text" placeholder="Paitent Mobile" required>
                        </div>
                     
                        <div class="dm-form-group" style="width: 100%;">
                            <span>Paitent Address</span>
                            <input class="dm-input" name="address" type="text" placeholder="Paitent Address" required>
                        </div>
                        <div class="dm-form-group" style="width: 48%;display: inline-block">
                            <span>Appointemnt Start</span>
                            <input class="dm-input" name="startHour" type="time" placeholder="start" required>
                        </div>
                        <div class="dm-form-group" style="width: 48%;display: inline-block">
                            <span>Appointemnt End</span>
                            <input class="dm-input" name="endHour" type="time" placeholder="end" required>
                        </div>
                              <div class="dm-form-group" style="width: 100%;">
                            <span>Doctor</span>
                            <input type="hidden" value="1" class="dm-input" name="doctorId" type="text" required>
                        </div>
                        <div class="dm-modal-footer flex-container space-between">
                            <button class="dm-btn primary " type="submit">Save</button>
                            <button class="dm-btn default close-modal">Cancel</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>