            <div class="flex-container column inhert-height">
                <div id="datepicker" style="position: relative;"></div>
                <div class="flex-grow flex-container appointment-root">
                    <div class="nice-boarder flex-grow inhert-height">
                        <button class="fab-btn in-right-corner" id="show-modal"></button>

                        <div class="appointment-card ">
                            <div>Patient name</div>
                            <div>Time1</div>
                            <div>Time2</div>

                        </div>

                        <div class="appointment-card ">
                            <div>Patient name</div>
                            <div>Time1</div>
                            <div>Time2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 {{>appointmentmodal}}