<div class="side-navbar-root">
    <div class="side-navbar flex-container column space-around align-center">
        <div>
            <div>a</div>
            <div>b</div>
        </div>
        <div class="flex-container column space-around align-center flex-box-50">
            <div class="parent icon-container active" title="Home">
                <i class="fal fa-home"></i>
                <div class="tooltip">Home</div>
            </div>
            <div class="parent icon-container">
                <i class="far fa-alarm-clock"></i>
                <div class="tooltip">Appointments</div>
            </div>
            <div class="parent icon-container">
                <a  href="/doctors"><i class="far fa-user-nurse"></i></a>
                <div class="tooltip" >Doctors </div>
            </div>
        </div>

        <div>
            <div class="circle">
                <img src="/assets/imgs/message.svg" height="30px" width="30px" alt="">
            </div>
        </div>
    </div>
</div>