<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/assets/css/dashboard.css">
    <link rel="stylesheet" href="/assets/css/globals.css">
    <script src="/assets/js/assets.js"></script>


    <script>
        $(function () {
            $("#datepicker").datepicker({
                showOtherMonths: true,
                selectOtherMonths: true
            });
        });
    </script>
    <title>Dashboard</title>
</head>

<body>
    <div class="root flex-container">
        <!-- side navbar -->
        {{>sidenav}}
        <!-- End side navbar -->
        <!-- main content start -->
        <div class="main-content">
            <!-- banner section -->
            <div class="banner-root">
                <div class="banner">

                </div>
            </div>
            <!-- Overview section -->
            <h3>Statisticals</h3>
            <div class="overview-root flex-container align-center ">

                <div class="flex-container column align-center space-evenly card">
                    <div class="icon">
                        <i class="fal fa-users"></i>
                    </div>
                    <div class="title">
                        Doctors
                    </div>
                    <div class="numbers">
                        30
                    </div>
                </div>
                <div class="flex-container column align-center space-evenly card">
                    <div class="icon">
                        <i class="fal fa-users"></i>
                    </div>
                    <div class="title">
                        Appointments
                    </div>
                    <div class="numbers">
                        15
                    </div>
                </div>
                <div class="flex-container column align-center space-evenly card">
                    <div class="icon">
                        <i class="fal fa-users"></i>
                    </div>
                    <div class="title">
                        Doctors
                    </div>
                    <div class="numbers">
                        30
                    </div>
                </div>
            </div>
            <div>
                <h3>Incoming Appointment</h3>

            </div>
        </div>
        <div class="side-content side-root">
            {{>quickcalender}}
        </div>
    </div>
</body>

</html>