<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/globals.css">

    <title>Login</title>
</head>

<body>
    <div class="root flex-container ">
        <div class="flex-box-60 login-background">

        </div>
        <div class="login-part flex-container space-evenly column  flex-box-40">
            <div class="center-button">
                <img src="/assets/imgs/logo.jpg" width="300px" height="200px" alt="">
            </div>
            <form action="/api/login" method="POST" class="flex-container flex-box-70 column  center align-center" style="width: 100%;">

                <div class="dm-form-group">
                    <span>Username</span>
                    <input class="dm-input" name="username" type="text" placeholder="Username">
                </div>
                <div class="dm-form-group">
                    <span>Password</span>
                    <input class="dm-input" name="password" type="password" placeholder="Username">
                </div>
                <div class="dm-form-group center-button">
                    <button class="dm-btn primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>