@import "globals.scss";

.card {
    flex-basis: 150px;
    border: 2px solid #eee;
    min-height: 150px;
    border-radius: 6px;
    margin: 0px 10px;
    .numbers,
    .icon {
        font-size: 28px;
    }
    .title {
        font-size: 18px;
    }
}

