@font-face {
  font-family: OpenSans;
  src: "./../fonts/OpenSans-Regular.ttf";
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

html,
body,
.root {
  height: 100%;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-container.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-container.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-container.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-container.space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-container.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-container.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-box-50 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.flex-box-70 {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.flex-box-30 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.flex-box-40 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.flex-box-60 {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.dm-input {
  height: 40px;
  border: 1px solid #eee;
}

.dm-input:not(:placeholder-shown) {
  border: 2px solid rgba(0, 102, 153, 0.513);
}

.dm-btn {
  width: 200px;
  height: 40px;
  color: white;
  border: none;
  cursor: pointer;
}

.dm-btn.primary {
  background: #1d94cf;
}

.dm-btn:hover.primary {
  background: #1774a2;
}

.dm-btn.default {
  background: #616161;
}

.dm-btn.default:hover {
  background: #7b7b7b;
}

.dm-btn.add {
  background: #4dc551;
}

.dm-btn.add:hover {
  background: #73d277;
}

.form-group {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
}

.form-group input {
  display: block;
  padding-left: 10px;
  width: 100%;
}

.form-group span {
  font-size: 18px;
  margin-bottom: 30px;
}

.center-button {
  text-align: center;
}

.ui-datepicker {
  width: 260px;
  height: 360px;
  background: #2980b9;
  display: none;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out;
}

.ui-datepicker-inline {
  position: relative;
  width: 100%;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border: 2px solid white;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: 12px;
}

.ui-datepicker-prev {
  float: left;
  margin-left: 12px;
}

.ui-datepicker-prev:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -45px 0px 0px 6px;
}

.ui-datepicker-next {
  float: right;
  margin-right: 12px;
}

.ui-datepicker-next:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin: -45px 0px 0px 4px;
  color: white;
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  top: 19px;
  margin: auto;
  padding: 0px;
  margin-left: 4px;
}

.ui-datepicker-prev:active,
.ui-datepicker-next:active,
.ui-datepicker-prev:active:after,
.ui-datepicker-next:active:after {
  border-color: white;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-calendar {
  width: 100%;
  text-align: center;
  background: #2980b9;
}

.ui-datepicker-calendar thead tr th {
  font-size: 13px;
}

.ui-datepicker-calendar thead tr th span {
  display: block;
  width: 100%;
  color: white;
  margin-bottom: 5px;
}

.ui-state-default {
  display: block;
  text-decoration: none;
  color: white;
  line-height: 40px;
  font-size: 12px;
}

.ui-state-default:hover {
  background: rgba(0, 0, 0, 0.02);
}

.ui-state-highlight {
  color: white;
}

.ui-state-active {
  color: white;
  background-color: rgba(216, 216, 216, 0.12);
  border-radius: 50%;
  font-weight: 600;
}

.ui-datepicker-unselectable .ui-state-default {
  color: white;
  border: 2px solid transparent;
}

.ui-datepicker-title {
  padding: 10px 0px;
  background-color: #2980b9;
  color: white;
}

.nice-boarder {
  border: 1px solid #eee;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
}

.inhert-height {
  height: inherit;
}

.appointment-root {
  padding: 10px 0px;
  position: relative;
}

.fab-btn {
  padding: 30px;
  background: #4dc551;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  -webkit-box-shadow: 0px 0px 20px #00ff08b7;
          box-shadow: 0px 0px 20px #00ff08b7;
  border: none;
  outline: none;
  cursor: pointer;
}

.fab-btn:hover {
  background: #37a83b;
}

.fab-btn:after {
  content: "+";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 32px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.in-right-corner {
  position: absolute;
  top: -20px;
  right: 0;
}

.dm-modal {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
}

.dm-modal .modal-body {
  z-index: 100;
  position: relative;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background: white;
  height: auto;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.dm-modal .modal-title {
  font-size: 32px;
  text-align: center;
  padding: 10px 0px;
}

.dm-modal .modal-content {
  padding: 20px;
}

.dm-modal .modal-footer {
  padding: 30px;
}

.dm-modal .modal-footer button {
  margin: 0px 5px;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-animation: fade-in 0.5s;
          animation: fade-in 0.5s;
}

.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-navbar-root {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
  padding: 5px;
  height: inherit;
}

.side-navbar {
  height: inherit;
  background: #F9F9F9;
  border-radius: 100px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
}

.main-content {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  padding-left: 30px;
  height: inherit;
}

.side-content {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  height: inherit;
}

.circle {
  border-radius: 50%;
  background-color: #ba324f;
  position: relative;
  padding: 20px;
  cursor: pointer;
}

.circle > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.icon-container {
  cursor: pointer;
}

.icon-container > i {
  font-size: 24px;
  color: #c3c3c3;
}

.icon-container.active > i {
  color: #4b4a4a !important;
}

.parent {
  position: relative;
}

.parent .tooltip {
  display: none;
  padding: 10px 20px;
  background-color: #ba324f;
  border-radius: 12px;
  color: white;
  font-size: 12px;
}

.parent .tooltip:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ba324f;
  position: absolute;
  left: -8px;
  top: 25%;
  z-index: 10;
}

.parent:hover .tooltip {
  display: block;
  position: absolute;
  top: -5px;
  left: 40px;
  z-index: 10;
}

.banner-root {
  padding-top: 20px;
}

.banner-root .banner {
  background: url("./../imgs/banner.svg") no-repeat;
  background-size: cover;
  height: 100px;
  background-position: center;
}

.side-root {
  padding: 20px;
}

.appointment-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border: 2px #eee solid;
  cursor: pointer;
}

.appointment-card div {
  text-align: left;
}

.appointment-card:hover {
  background: #eee;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-sqaure {
  width: 100px !important;
  height: 100px !important;
  border-radius: 10px;
  outline: none;
}
/*# sourceMappingURL=doctors.css.map */