$btn-login-clr:rgb(29, 148, 207);
$primary-clr:#2980b9;
$hover-gray:white;
$calender-font-color: white;
$side-navbar-bclr:#F9F9F9;
$fab-add-btn:#4dc551;
$btn-default:#616161;
$global-shadow:0px 0px 5px rgba(0, 0, 0, 0.16);
@font-face {
    font-family: OpenSans;
    src: "./../fonts/OpenSans-Regular.ttf";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body,
.root {
    height: 100%;
}

.flex-container {
    display: flex;
    &.column {
        flex-direction: column;
    }
    &.center {
        justify-content: center;
    }
    &.space-between {
        justify-content: space-between;
    }
    &.space-evenly {
        justify-content: space-evenly;
    }
    &.align-center {
        align-items: center;
    }
    &.space-around {
        justify-content: space-around;
    }
    &.end{
        justify-content: flex-end;
    }
}

.flex-grow {
    flex-grow: 1;
}

.flex-box-50 {
    flex-basis: 50%;
}

.flex-box-70 {
    flex-basis: 70%;
}

.flex-box-30 {
    flex-basis: 30%;
}

.flex-box-40 {
    flex-basis: 40%;
}

.flex-box-60 {
    flex-basis: 60%;
}

.dm-input {
    height: 40px;
    border: 1px solid #eee;
    &:not(:placeholder-shown) {
        border: 2px solid rgba(0, 102, 153, 0.513);
    }
}

.dm-btn {
    width: 200px;
    height: 40px;
    color: white;
    border: none;
    cursor: pointer;
    &.primary {
        background: $btn-login-clr;
    }
    &:hover.primary {
        background: darken($btn-login-clr, 10%);
    }
    &.default {
        background: $btn-default;
    }
    &.default:hover {
        background: lighten($btn-default, 10%);
    }
    &.add{
        background: $fab-add-btn;
    }
    &.add:hover{
        background: lighten($fab-add-btn,  10%);
    }
}

.dm-form-group {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    input {
        display: block;
        padding-left: 10px;
        width: 100%;
    }
    span {
        font-size: 18px;
        margin-bottom: 30px;
    }
}

.center-button {
    text-align: center;
}

// 
.ui-datepicker {
    width: 260px;
    height: 360px;
    background: $primary-clr;
    display: none;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.3s 0s ease-in-out;
    transition: all 0.3s 0s ease-in-out;
}

.ui-datepicker-inline {
    position: relative;
    width: 100%;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    width: 20px;
    height: 20px;
    text-indent: 9999px;
    border: 2px solid white;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    margin-top: 12px;
}

.ui-datepicker-prev {
    float: left;
    margin-left: 12px;
    &:after {
        transform: rotate(45deg);
        margin: -45px 0px 0px 6px;
    }
}

.ui-datepicker-next {
    float: right;
    margin-right: 12px;
    &:after {
        transform: rotate(-135deg);
        margin: -45px 0px 0px 4px;
        color: white;
    }
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    top: 19px;
    margin: auto;
    padding: 0px;
    margin-left: 4px;
}

.ui-datepicker-prev:active,
.ui-datepicker-next:active,
.ui-datepicker-prev:active:after,
.ui-datepicker-next:active:after {
    border-color: $hover-gray;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-calendar {
    width: 100%;
    text-align: center;
    background: $primary-clr;
    thead {
        tr {
            th {
                span {
                    display: block;
                    width: 100%;
                    color: white;
                    margin-bottom: 5px;
                }
                font-size: 13px;
            }
        }
    }
}

.ui-state-default {
    display: block;
    text-decoration: none;
    color: $calender-font-color;
    line-height: 40px;
    font-size: 12px;
    &:hover {
        background: rgba(0, 0, 0, 0.02);
    }
}

.ui-state-highlight {
    color: white;
}

.ui-state-active {
    color: white;
    background-color: rgba(216, 216, 216, 0.12);
    border-radius: 50%;
    font-weight: 600;
}

.ui-datepicker-unselectable .ui-state-default {
    color: $calender-font-color;
    border: 2px solid transparent;
}

.ui-datepicker-title {
    padding: 10px 0px;
    background-color: $primary-clr;
    color: white;
}

.nice-boarder {
    border: 1px solid #eee;
    box-shadow: $global-shadow;
}

.inhert-height {
    height: inherit;
}

.appointment-root {
    padding: 10px 0px;
    position: relative;
}

.fab-btn {
    padding: 30px;
    background: $fab-add-btn;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 0px 20px #00ff08b7;
    border:none;
    outline: none;
    cursor: pointer;
    &:hover {
        background: darken($fab-add-btn, 10%);
    }
    &:after {
        content: "+";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        font-size: 32px;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
}

.in-right-corner {
    position: absolute;
    top: -20px;
    right: 0;
}

.dm-modal {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: rgba(#000, $alpha: 0.4);
    .dm-modal-body {
        z-index: 100;
        position: relative;
        flex-basis: 30%;
        background: white;
        height: auto;
        border-radius: 20px;
        box-shadow: 0px 0px 15px rgba( #000000, 0.5);
    }
    .modal-title {
        font-size: 32px;
        text-align: center;
        padding: 10px 0px;
    }
    .modal-content {
        padding: 20px;
    }
    .dm-modal-footer {
        padding: 30px;
        button{
            margin:0px 5px;
        }
    }
}
.show{
    display: flex;
    opacity: 1;
    animation: fade-in 0.5s;

}

.root {
    display: flex;
}

.side-navbar-root {
    flex-basis: 5%;
    padding: 5px;
    height: inherit;
}

.side-navbar {
    height: inherit;
    background: $side-navbar-bclr;
    border-radius: 100px;
    box-shadow: $global-shadow;
}

.main-content {
    flex-basis: 60%;
    padding-left: 30px;
    height: inherit;
}

.side-content {
    flex-basis: 35%;
    height: inherit;
}

.circle {
    border-radius: 50%;
    background-color: #ba324f;
    position: relative;
    padding: 20px;
    cursor: pointer;
    >* {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}

.icon-container {
    cursor: pointer;
    >i {
        font-size: 24px;
        color: #c3c3c3;
    }
    &.active>i {
        color: rgb(75, 74, 74) !important;
    }
}

.parent {
    position: relative;
    .tooltip {
        display: none;
        padding: 10px 20px;
        background-color: #ba324f;
        border-radius: 12px;
        color: white;
        font-size: 12px;
    }
    .tooltip:before {
        content: "";
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #ba324f;
        position: absolute;
        left: -8px;
        top: 25%;
        z-index: 10;
    }
    &:hover .tooltip {
        display: block;
        position: absolute;
        top: -5px;
        left: 40px;
        z-index: 10;
    }
}

.banner-root {
    padding-top: 20px;
    .banner {
        background: url("./../imgs/banner.svg") no-repeat;
        background-size: cover;
        height: 100px;
        background-position: center;
    }
}


.side-root {
    padding: 20px;
}

.appointment-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    border: 2px #eee solid;
    cursor: pointer;
    div {
        text-align: left;
    }
    &:hover {
        background: #eee;
    }
}

@keyframes fade-in{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
