@import "globals.scss";
.login-background {
    background: url('./../imgs/backgroundlogin.jpg') no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
}

.login-part {
    @extend .flex-container;
}

.dm-btn {
    font-size: 18px;
}